@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .product-card {
    @apply bg-white rounded-xl overflow-hidden shadow-sm hover:shadow-md transition-all;
  }
  
  .category-card {
    @apply bg-white rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow cursor-pointer;
  }
}